---
import { AFocusScope } from "@astaria/focus-scope/astro";
---

<main>
  <h1>Focus Scope Demo</h1>

  <AFocusScope loop trapped>
    <div>
      <button>First Tabbable</button>
      <input type="text" />
      <a href="#">Link</a>
      <button>Last Tabbable</button>
    </div>
  </AFocusScope>

  <p>Outside Focus Scope</p>
  <button>Outside Button</button>
</main>

<style>
  button,
  a,
  input {
    margin: 5px;
    padding: 5px;
  }
</style>
