---
import { AFocusScopeContainer, AFocusScopeRoot } from "@astaria/focus-scope";
---

<main>
  <h1>Focus Scope Demo</h1>

  <AFocusScopeRoot loop trapped>
    <AFocusScopeContainer asChild>
      <div>
        <button>First Tabbable</button>
        <input type="text" />
        <a href="#">Link</a>
        <button>Last Tabbable</button>
      </div>
    </AFocusScopeContainer>
  </AFocusScopeRoot>

  <p>Outside Focus Scope</p>
  <button>Outside Button</button>
</main>

<style>
  button,
  a,
  input {
    margin: 5px;
    padding: 5px;
  }
</style>
