---
import { APresence } from "@astaria/presence";
import Layout from "../layouts/Layout.astro";

const isPresent = true;
---

<Layout title="Presence Demo">
  <main>
    <h1>Presence Demo</h1>
    <APresence present={isPresent}>
      <p>This content is visible because the 'present' prop is true.</p>
    </APresence>
    <APresence present={!isPresent}>
      <p>This content is NOT visible because the 'present' prop is false.</p>
    </APresence>
  </main>
</Layout>
