---
import { AVisuallyHidden } from "@astaria/visually-hidden/astro";
---

<main>
  <h1>Visually Hidden Demo</h1>
  <AVisuallyHidden>
    This text is visually hidden but accessible to screen readers.
  </AVisuallyHidden>
  <p>This is some regular text.</p>
</main>
